@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800');

body, html {
  background-color: #111111;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@keyframes pulse-light {
  0%{
    -webkit-box-shadow: 0px 0px 24px 0px #621f4685;
    -moz-box-shadow: 0px 0px 24px 0px #621f4685;
    box-shadow: 0px 0px 24px 0px #621f4685;
  }
  50%{
    -webkit-box-shadow: 0px 0px 12px 0px #621f4685;
    -moz-box-shadow: 0px 0px 12px 0px #621f4685;
    box-shadow: 0px 0px 12px 0px #621f4685;
  }
  100%{
    -webkit-box-shadow: 0px 0px 24px 0px #621f4685;
    -moz-box-shadow: 0px 0px 24px 0px #621f4685;
    box-shadow: 0px 0px 24px 0px #621f4685;
  }
}