@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800');

body, html {
  background-color: #111111;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}